@import url('https://fonts.cdnfonts.com/css/montserrat');
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: var(--selected-item-color);
}
img {
    -webkit-user-drag: none;
}
.titlebar {
    position: fixed;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(var(--topbar-color) / var(--topbar-opacity)) 
}
.sidebar {
    position: fixed;
    top: 20px;
    bottom: 20px;
    width: 110px;
    box-sizing: border-box;
    user-select: none;
    background-color: rgb(var(--sidebar-color) / var(--sidebar-opacity)) 
}
.downbar {
    background: var(--downbar-color);
    opacity: var(--downbar-opacity);
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20px;
    user-select: none;
}
.draggable {
    display: flex;
    padding: 5pt;
    justify-content: space-between;
    user-select: none;
    -webkit-app-region: drag;
}
.nodrag {
    -webkit-app-region: no-drag;
}
.select-file::-webkit-file-upload-button {
    display: none;
}
.select-file::before {
    content: 'Select files';
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 5px;
}
.button {
    color: var(--button-text-color);
    background-color: var(--button-color);
    opacity: var(--button-opacity);
    padding: 5px 30px;
    cursor: pointer;
    border-width: 1px;
    border-color: var(--button-border-color);
    border-radius: 3px;
}
.button-selected {
    border-color: var(--selected-item-color);
    border-left: 5px solid;
}
.button:hover {
    filter: brightness(110%) 
}
.input-group {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.btnclose:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(85%) saturate(7467%) hue-rotate(359deg) brightness(97%) contrast(108%) 
}
.btn.minimize:hover {
    filter: brightness(0) saturate(100%) invert(75%) sepia(96%) saturate(548%) hue-rotate(3deg) brightness(108%) contrast(103%) 
}
.center-elements {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tab-selected {
    border-left: 5px solid;
    color: var(--selected-item-color);
    opacity: var(--selected-item-opacity);
    border-radius: 5px;
}
.tab.active {
    border-color: var(--selected-item-color);
    border-left: solid 5px var(--selected-item-color);
    border-radius: 5px;
}
.tab-pane {
    display: none;
    margin-top: 10px;
    border-radius: 5px;
}
.tab-pane.active {
    display: block;
}
.contentArea {
    user-select: none;
    position: fixed;
    top: 30px;
    left: 110px;
    width: 100%;
    height: 100%;
}
.bottingContentArea {
    user-select: none;
    margin-top: 205px;
    width: 200px;
    height: 100%;
}
.input {
    color: rgb(var(--text-color) / var(--text-opacity));
    position: relative;
    height: 2rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 0.875rem;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: var(--button-border-color);
    background-color: transparent;
}
.input-sm {
    color: rgb(var(--text-color) / var(--text-opacity));
    position: relative;
    top: -2px;
    width: 5rem;
    font-size: 0.8rem;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: var(--button-border-color);
    background-color: transparent;
}
input:focus {
    outline: none;
}
input::placeholder, textarea::placeholder {
    opacity: 0.5;
    color: var(--text-color);
}
.select {
    color: var(--button-text-color);
    background-color: var(--button-color);
    cursor: pointer;
    user-select: none;
    border: none;
    height: 33px;
    border-radius: 5px;
}
.bgimg {
    content: var(--background-image);
    width: 100%;
}
.select-input {
    color: var(--text-color);
    background-color: var(--bg-color);
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 5px;
}
.select-input::-ms-expand {
    appearance: none;
    border: none;
    border-radius: 5px;
}
select:focus {
    outline: none;
    border-radius: 5px;
}
.text-input {
    color: rgb(var(--text-color) / var(--text-opacity));
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: var(--button-border-color);
    background-color: transparent;
}
input:focus {
    outline: none;
}
.label {
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.label-text {
    font-size: 20px;
    line-height: 1rem;
}
.error-text {
    color: #ff0000;
}
ul {
    background-color: var(--ul-bg-color);
    opacity: var(--ul-opacity);
    padding: 0px 0px;
    overflow: auto;
    border: var(--button-border-color);
    border-style: solid;
    border-width: 1px;
    list-style-type: none;
    border-radius: 15px;
}
ul li {
    overflow-wrap: break-word;
    border: var(--button-border-color);
    border-bottom: 1px solid;
}
.textbox {
    height: 400px;
    width: 300px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: solid var(--button-border-color) 1px;
    padding: 10px;
    resize: none;
    outline: none;
    border-radius: 15px;
}
.m-1 {
    margin-left: 0.25rem;
}
.m-4 {
    margin-left: 1rem;
}
.m-8 {
    margin-left: 2rem;
}
.mu-4 {
    margin-top: 1rem;
}
.mu-2 {
    margin-top: 0.5rem;
}
.p-4 {
    padding: 1rem;
}
.pl-4 {
    padding-left: 1rem;
}
.p-1 {
    padding: 0.25rem;
}
.p-0 {
    padding: 0px;
}
.flex {
    display: flex;
}
.flex-colum {
    flex-direction: column;
}
.border {
    padding: 10px;
    border: 2px solid #bac0f21a;
}
.border-sm {
    border: 2px solid #bac0f21a;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    opacity: 0.5;
    transition: ease-in-out 0.2s;
}
.container input:checked~.checkmark {
    background-color: var(--bg-color);
    border: solid var(--button-color);
    opacity: 1;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.icon-sm {
    width: 18px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: -5px;
    margin-top: -5px;
}
.error-icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(95%) saturate(6636%) hue-rotate(1deg) brightness(107%) contrast(97%);
}
.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7442%) hue-rotate(318deg) brightness(95%) contrast(109%);
}
.icon:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(6%) saturate(4808%) hue-rotate(189deg) brightness(100%) contrast(90%);
}
.botSelected {
    background-color: var(--selected-item-color);
}
.beta-version {
    width: 50px;
    height: 20px;
    background: linear-gradient(45deg, #FF69B4, #8A2BE2, #1E90FF);
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 7px;
}
.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.loading-text {
    font-size: 36px;
    opacity: 0;
    animation: fadeIn 6s forwards;
}
.trafficer {
    opacity: 0;
    animation: fadeIn 0s 0s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.notify-content {
    position: relative;
    right: -100%;
    width: fit-content;
    padding: 5px 5px;
    margin: 4px;
    background-color: var(--bg-color);
    border: 1px solid var(--downbar-color);
    border-radius: 8px;
    text-shadow: 1px 1px 1px #000000;
    transition: all 0.3s ease-out;
    -webkit-box-shadow: 5px 5px 30px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 30px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 30px 3px rgba(0, 0, 0, 0.3);
}
.notify-content.hide {
    opacity: 0;
    pointer-events: none;
}
.notify {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
}
.notify:hover {
    display: block;
}
.notify-icon {
    max-width: 100%;
    max-height: 100%;
    margin-right: 4px;
    vertical-align: middle;
}
.range {
    width: 100%;
    border-radius: 4rem;
}
.range__content {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}
.range__slider {
    width: 100%;
    height: 8px;
    background-color: var(--first-color-lighten);
    border-radius: 4rem;
    box-shadow: 0 4px 12px hsla(256, 72%, 24%, .2);
    overflow: hidden;
}
.range__slider-line {
    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    width: 0;
}
.range__thumb {
    width: 16px;
    height: 16px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    box-shadow: 0 0 12px hsla(256, 72%, 24%, .2);
    position: absolute;
}
.range__value {
    width: 28px;
    height: 28px;
    background: var(--gradient-color);
    position: absolute;
    top: -37px;
    left: -6px;
    border-radius: 2rem 2rem 2rem .25rem;
    transform: rotate(-45deg);
    display: grid;
    place-items: center;
}
.range__value-number {
    transform: rotate(45deg);
    color: var(--white-color);
    font-size: var(--h1-font-size);
}
.range__input {
    appearance: none;
    width: 100%;
    height: 16px;
    position: absolute;
    opacity: 0;
}
.range__input::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
}
.range__input::-webkit-slider-thumb:hover {
    cursor: pointer;
}
.mini-chat {
    position: absolute;
    width: 200px;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    user-select: none;
    border-radius: 15px;
}
.mini-chat-header {
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.mini-chat-content {
    margin: -1px;
    margin-top: -11px;
    margin-bottom: -11px;
    display: none;
    font-size: 10px;
}
:root {
    --gradient-color: linear-gradient(95deg,
    hsl(198, 23%, 46%) 10%,
    hsl(234, 18%, 33%) 145%);
    --first-color-light: hsl(256, 64%, 88%);
    --first-color-lighten: hsl(256, 58%, 94%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(256, 100%, 98%);
    --h1-font-size: 1rem;
    --background-image: url('../assets/images/background.svg');
    --bg-color: #0c0d11;
    --text-color: #f6f5f5;
    --button-color: #5b8191;
    --button-text-color: #f6f5f5;
    --button-opacity: 1;
    --button-border-color: #454864;
    --ul-bg-color: #171a25;
    --ul-opacity: 0.7;
    --downbar-color: #3D75C9;
    --selected-item-color: #00e1ff88;
    --selected-item-opacity: 1;
    --downbar-opacity: 1;
    --sidebar-color: 0 0 0;
    --sidebar-opacity: 0.2;
    --topbar-color: 0 0 0;
    --topbar-opacity: 0.6;
}